<h1 style="color: #fff;"><%= @project.title %></h1>
<span class="label" style="background-color: <%= @project.category.color %>"><%= @project.category.title %> plan</span>
<div class="project-address"><%= @project.full_address %></div>