<div class="grey-background-form">
	<div class="grid-container">
		<div class="grid-x">
		 	<div class="cell small-12 medium-6 medium-offset-3">
		 		<div class="inner-container">
				<h1>Edit Zone Group</h1>
				<%= render 'form', item_group: @item_group %>
				</div>
			</div>
		</div>
	</div>
</div>
