<div style="background-color: #001131; padding: 50px 0;">
	<div style="width: 100%; text-align: center; margin-top: 50px;">
		<img src="http://res.cloudinary.com/theblackandwhites/image/upload/v1521614664/Logo_and95g.png" width="250">
	</div>
	<div style="width: 600px; background-color: #fff; padding: 40px; margin: auto; margin-top: 50px; margin-bottom: 50px; text-align: center;">

		<h2>Howdy</h2>
		<p>You have been invited to join a new project over at CodeCabin</p>

		<p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token), style: "background-color: #22bb5b; border-radius: 5px; padding: 5px 20px; color: #fff; font-size: 18px; font-weight: bold; text-decoraton:none" %></p>

		<% if @resource.invitation_due_at %>
		  <p><%= t("devise.mailer.invitation_instructions.accept_until", due_date: l(@resource.invitation_due_at, format: :'devise.mailer.invitation_instructions.accept_until_format')) %></p>
		<% end %>

		<p><%= t("devise.mailer.invitation_instructions.ignore").html_safe %></p>

	</div>
</div>
